<?xml version="1.0"?>
<config>
    <modules>
        <Mklauza_CustomProductUrls>
            <version>0.0.1</version>
        </Mklauza_CustomProductUrls>
    </modules>
    <global>
        <blocks>
            <mklauza_customproducturls>
                <class>Mklauza_CustomProductUrls_Block</class>
            </mklauza_customproducturls>
        </blocks>
        <helpers>
            <mklauza_customproducturls>
                <class>Mklauza_CustomProductUrls_Helper</class>
            </mklauza_customproducturls>
        </helpers>
        <models>
            <mklauza_customproducturls>
                <class>Mklauza_CustomProductUrls_Model</class>
            </mklauza_customproducturls>
            <catalog>
                <rewrite>
                    <product_url>Mklauza_CustomProductUrls_Model_Catalog_Product_Url</product_url>
                    <!-- Mage_Catalog_Model_Product_Attribute_Backend_Urlkey -->
                    <!--<product_attribute_backend_urlkey>Mklauza_CustomProductUrls_Model_Catalog_Resource_Product_Attribute_Backend_Urlkey</product_attribute_backend_urlkey>-->
                </rewrite>
            </catalog>
        </models>     
    </global>
    <adminhtml>

        <events>
            <adminhtml_block_html_before>
                <observers>
                    <add_custom_urls_mass_action>
                        <type>singleton</type>
                        <class>mklauza_customproducturls/adminhtml_observer</class>
                        <method>addCustomUrlsMassAction</method>
                    </add_custom_urls_mass_action>
                    <add_clear_permanent_redirects_button>
                        <type>singleton</type>
                        <class>mklauza_customproducturls/adminhtml_observer</class>
                        <method>addClearPermanentRedirectsButton</method>
                    </add_clear_permanent_redirects_button>
                </observers>
            </adminhtml_block_html_before>
            <catalog_product_save_after>
                <observers>
                    <change_url>
                        <type>singleton</type>
                        <class>mklauza_customproducturls/adminhtml_observer</class>
                        <method>generateUrlKey</method>
                    </change_url>                   
                </observers>
            </catalog_product_save_after>
            <catalog_product_prepare_save>
                <observers>
                    <detect_url_change>
                        <type>singleton</type>
                        <class>mklauza_customproducturls/adminhtml_observer</class>
                        <method>checkUrl</method>                        
                    </detect_url_change>
                </observers>
            </catalog_product_prepare_save>            
        </events>

        <translate>
            <modules>
                <Mklauza_CustomProductUrls>
                    <files>
                        <default>mklauza/Mklauza_CustomProductUrls.csv</default>
                    </files>
                </Mklauza_CustomProductUrls>
            </modules>
        </translate>
        <layout>
            <updates>
                <Mklauza_CustomProductUrls>
                    <file>mklauza/product_urls.xml</file>
                </Mklauza_CustomProductUrls>
            </updates>
        </layout>        
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mklauza_CustomProductUrls after="Mage_Adminhtml">Mklauza_CustomProductUrls_Adminhtml</Mklauza_CustomProductUrls>
                        <Mklauza_CustomProductUrls_Mass_Action after="Mage_Adminhtml">Mklauza_CustomProductUrls_Adminhtml_Catalog_Product_Action</Mklauza_CustomProductUrls_Mass_Action>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
</config>