<?xml version="1.0"?>
<config>
    <modules>
        <Teamdesk_Importmodule>
            <version>1.0.0</version>
        </Teamdesk_Importmodule>
    </modules>
    <global>
        <models>
            <!--<Import>
                <rewrite>
                    <entity_product>Teamdesk_Importmodule_Model_Import_Entity_Product</entity_product>   
                    <import_uploader>Teamdesk_Importmodule_Model_Import_Uploader</import_uploader>   
                </rewrite>
            </Import>-->  
            <importmodule>
                <class>Teamdesk_Importmodule_Model</class>
            </importmodule>
        </models>    
        <blocks>
            <importmodule>
                <class>Teamdesk_Importmodule_Block</class> 
            </importmodule>
        </blocks>
        <helpers>
            <importmodule>
                <class>Teamdesk_Importmodule_Helper</class>
            </importmodule>
        </helpers> 
    </global>
    <admin>
        <routers>
            <teamdesk_importmodule>
                <use>admin</use>
                <args>
                    <module>Teamdesk_Importmodule</module>
                    <frontName>importmodule</frontName>
                </args>
            </teamdesk_importmodule>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <teamdesk_importmodule>
                    <file>importmodule.xml</file>
                </teamdesk_importmodule>
            </updates>
        </layout>
    </adminhtml>
</config>