<?xml version="1.0"?>
 <config>
     <modules>
         <Stripedsocks_Sql>
             <version>0.1.0</version>
         </Stripedsocks_Sql>
     </modules>
     <global>
         <resources>
             <stripedsocks_sql_setup>
                 <setup>
                     <module>Stripedsocks_Sql</module>
                     <class>Mage_Catalog_Model_Resource_Setup</class>
                 </setup>
             </stripedsocks_sql_setup>
         </resources>
     </global>
 </config>