a, body {
	color:#333
}
body {
	/*font-size:12px;*/
	background-color:#f5f5f5
}
.vertnav li.current>a, a:hover, h2.product-name a:hover, h3.product-name a:hover, h4.product-name a:hover, h5.product-name a:hover, p.product-name a:hover {
	color:#3ec2df
}
.caret {
	border-top-color:#333
}
.button {
	background-color:#0086d4;
	color:#fff
}
.button:focus, .button:hover {
	background-color:#3ec2df;
	color:#fff
}
.btn-checkout, .product-view .btn-cart {
	background-color:#0086d4;
	color:#fff
}
.btn-checkout:hover, .product-view .btn-cart:hover {
	background-color:#3ec2df;
	color:#fff
}
.links>li>a:hover {
	background-color:#0086d4;
	color:#fff!important
}
.sticker.new, .sticker.sale {
	background-color:#0086d4;
	color:#fff
}
.price-as-configured .price, .price-box .price {
	color:#00a9c7
}
.minimal-price-link .price, .special-price .price, .special-price .price-label {
	/*color:#0085d3 */
}
#map-popup-msrp, .map-popup-msrp .price, .old-price, .price-box .old-price .price, .price-notice .price {
	color:#767676
}
.additional-bg-color, .block-layered-nav .actions, .block-layered-nav .currently, .cart .totals, .checkout-agreements li {
	background-color:#f5f5f5
}
#opc-login h3, #subscribe-form label, .accordion .heading, .block .block-title, .block-layered-nav .block-subtitle--filter, .box-account .box-head h2, .caption .heading, .feature .heading, .footer .heading, .gen-tabs .tabs a, .main-font, .mobnav-trigger, .nav-mobile .nav-item.level0>a, .nav-mobile .nav-item.level1>a, .nav-mobile .nav-item.level2>a, .nav-regular .nav-item.level0>a, .nav-regular .nav-submenu--mega>li>a, .order-items .order-comments h2, .order-items h2.sub-title, .order-items h2.table-caption, .product-view .box-reviews dt .heading, .products-grid .product-name, .products-list .product-name, .section-title, h1, h2, h3, h3.product-name, h4, h5 {
	font-family:Lato, georgia, serif
}
#cboxClose, #cboxNext, #cboxPrevious, #scroll-to-top, .accordion-style1 .opener, .add-to-links .ic, .collapsible .opener, .pager .pages .current, .pager .pages a, .slider-arrows1 .owl-controls .owl-buttons div, .slider-arrows1 .owl-controls.clickable .owl-buttons div.disabled:hover, .slider-arrows2 .owl-controls .owl-buttons div, .slider-arrows3 .owl-controls .owl-buttons div, .slider-arrows3 .owl-controls.clickable .owl-buttons div.disabled:hover, .slider-pagination1 .owl-controls .owl-page span, .slider-pagination2 .owl-controls .owl-page span, .sorter .sort-by .category-asc, .sorter .sort-by .category-desc, .sorter .view-mode a {
	background-color:#f5f5f5;
	color:#0086d4
}
#cboxClose:hover, #cboxNext:hover, #cboxPrevious:hover, #scroll-to-top:hover, .accordion-style1 .opener:hover, .add-to-links .feature-icon-hover:hover .ic, .add-to-links .ic:hover, .collapsible .opener:hover, .pager .pages li a:hover, .slider-arrows1 .owl-controls.clickable .owl-buttons div:hover, .slider-arrows2 .owl-controls.clickable .owl-buttons div:hover, .slider-arrows3 .owl-controls.clickable .owl-buttons div:hover, .slider-pagination1 .owl-controls.clickable .owl-page:hover span, .slider-pagination2 .owl-controls.clickable .owl-page:hover span, .sorter .sort-by .category-asc:hover, .sorter .sort-by .category-desc:hover, .sorter .view-mode a:hover {
	background-color:#333;
	color:#fff
}
.pager .pages .current, .slider-pagination1 .owl-controls .owl-page.active span, .slider-pagination1 .owl-controls.clickable .owl-page.active:hover span, .slider-pagination2 .owl-controls .owl-page.active span, .slider-pagination2 .owl-controls.clickable .owl-page.active:hover span, .sorter .view-mode span.grid, .sorter .view-mode span.list {
	background-color:#e5e5e5;
	color:#0086d4
}
.feature>span.icon, .ib {
	background-color:#de2666;
	color:#fff
}
.feature-icon-hover:hover .ib, .feature-icon-hover:hover>span.icon, .ib-hover:hover, .icon-hover:hover {
	background-color:#5bd2ec!important;
	color:#fff!important
}
.ib.icon-color-productview, span.icon.icon-color-productview {
	background-color:#0086d4
}
.feature-icon-hover:hover .ib.icon-color-productview, .feature-icon-hover:hover span.icon.icon-color-productview, .ib-hover.icon-color-productview:hover {
	background-color:#5bd2ec!important
}
.wrapper {
	border:none!important;
	background-color:#fff;
	background-repeat:repeat;
	background-attachment:scroll;
	background-position:center top
}
.header .caret, .header-container .dropdown.open>.dropdown-heading.cover .caret, .nav-holder .dropdown.open>.dropdown-heading.cover .caret {
	border-top-color:#333
}
.inner-container {
	padding-left:12px;
	padding-right:12px
}
@media only screen and (max-width:479px) {
.container.stretched>.inner-container {
padding-left:12px;
padding-right:12px
}
}
.form-search .input-text {
	background-color:#fff;
	border-color:#ddd
}
.form-search .input-text:focus, .form-search .input-text:hover {
	background-color:#fff;
	border-color:#eee
}
.form-search .button, .form-search .input-text {
	color:#0086d4
}
.form-search .button:hover, .form-search .input-text:focus, .form-search .input-text:hover, .form-search .input-text:hover+.button, .header-container .dropdown .dropdown-content a, .header-container .dropdown.open>.dropdown-heading.cover a, .header-container .form-search .search-autocomplete li {
	color:#333
}
.header-container .dropdown .dropdown-content, .header-container .dropdown.open>.dropdown-heading.cover>*, .header-container .form-search .search-autocomplete, .header-container .truncated .truncated_full_value .item-options {
	background-color:#fff;
	color:#333
}
.header-container .dropdown .dropdown-content a:hover, .header-container .dropdown.open>.dropdown-heading.cover a:hover, .header-container .form-search .search-autocomplete li:hover {
	color:#aaa
}
.header-primary {
	padding-top:10px;
	padding-bottom:10px
}
.header-mobile .skip-link {
	background-color:#0086d4;
	color:#fff
}
.header-mobile .skip-link:hover {
	color:#fff
}
.header-mobile .skip-content--style, .header-mobile .skip-link.skip-active {
	background-color:#0086d4;
	color:#fff
}
.header-mobile .skip-content--style a {
	color:#fff
}
.header-mobile .skip-content--style a:hover {
	color:#3ec2df
}
.cat-label-label1 {
	background-color:#5bd2ec;
	color:#fff
}
.cat-label-label2 {
	background-color:#d52462;
	color:#fff
}
li.level0>a>span>.cat-label-label1.pin-bottom:before {
	border-top-color:#5bd2ec
}
li.level0>a>span>.cat-label-label2.pin-bottom:before {
	border-top-color:#d52462
}
.nav-regular li.level0:hover>a>span>.cat-label, li>a:hover>span>.cat-label {
	background-color:#ff7214;
	color:#fff
}
.nav-regular li.level0:hover>a>span>.pin-bottom:before, li.level0>a:hover>span>.pin-bottom:before {
	border-top-color:#ff7214
}
#nav .nav-panel--dropdown {
	background-color:#0086d4;
	color:#fff
}
#nav .nav-panel--dropdown a {
	color:#fff
}
#nav .nav-panel--dropdown a:hover {
	color:#000
}
#nav .nav-panel--dropdown a .caret {
	border-left-color:#fff;
	border-right-color:#fff
}
#nav .nav-panel--dropdown a:hover .caret {
	border-left-color:#000;
	border-right-color:#000
}
.nav-regular .nav-panel--dropdown {
	-moz-box-shadow:0 3px 10px rgba(0, 0, 0, .15);
	-webkit-box-shadow:0 3px 10px rgba(0, 0, 0, .15);
	box-shadow:0 3px 10px rgba(0, 0, 0, .15)
}
.nav-mobile div.nav-panel--dropdown {
	-moz-box-shadow:0 3px 10px rgba(0, 0, 0, .15);
	-webkit-box-shadow:0 3px 10px rgba(0, 0, 0, .15);
	box-shadow:0 3px 10px rgba(0, 0, 0, .15);
	z-index:1;
	position:relative
}
.nav-mobile div.nav-panel--dropdown div.nav-panel--dropdown {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none
}
.header-mobile .nav {
	margin-bottom:10px
}
.nav.has-outline>.inner-container {
	padding-top:12px;
	padding-bottom:12px
}
.sticky-header .nav-regular, .sticky-header .sticky-container {
	background-color:#fff
}
.sticky-header .nav-regular .nav-holder .dropdown-heading, .sticky-header .nav-regular .nav-item.level0>a {
	color:#333
}
.sticky-header .nav-regular .nav-holder .dropdown-heading .caret, .sticky-header .nav-regular .nav-item.level0.parent>a .caret {
	border-top-color:#333
}
.sticky-header #nav.nav-regular {
	border-bottom:none
}
.nav-regular {
	background-color:#0086d4
}
#nav .nav-item--homeicon a, .nav-regular .nav-item.level0>a {
	color:#fff
}
.nav-mobile .nav-item.level0>a {
	background-color:#0086d4;
	color:#fff
}
.nav-mobile .nav-item.level0>.opener {
	color:#fff
}
#nav.nav-mobile ul.level0 .nav-item>a {
	background-color:#0086d4;
	color:#fff
}
.nav-mobile ul.level0 .nav-item>.opener {
	color:#fff
}
.nav-mobile .nav-item.level0.current>a, .nav-regular .nav-item.level0.active>a {
	background-color:#0086d4;
	color:#fff
}
.nav-mobile .nav-item.level0.current>.opener {
	color:#fff
}
#nav.nav-mobile ul.level0 .nav-item.current>a {
	background-color:#0086d4;
	color:#fff
}
.nav-mobile ul.level0 .nav-item.current>.opener {
	color:#fff
}
.nav-mobile .nav-item.level0>a:hover, .nav-regular .nav-item.level0:hover>a {
	background-color:#0086d4;
	color:#fff
}
.nav-mobile .nav-item.level0>a:hover+.opener {
	color:#fff
}
#nav.nav-mobile ul.level0 .nav-item>a:hover {
	background-color:#0086d4;
	color:#fff
}
.nav-mobile ul.level0 .nav-item>a:hover+.opener {
	color:#fff
}
#nav .nav-holder>*, .nav-regular .nav-item.level0>a {
	line-height:70px
}
#nav .nav-holder .dropdown-heading {
	max-height:70px;
	line-height:70px
}
.nav-holder .dropdown-heading .caret, .nav-regular .nav-item.level0.parent.active>a .caret, .nav-regular .nav-item.level0.parent:hover>a .caret, .nav-regular .nav-item.level0.parent>a .caret {
	border-top-color:#fff
}
.nav-mobile .nav-item {
	margin-top:1px!important
}
.nav-mobile {
	background-color:#eee
}
.mobnav-trigger-wrapper {
	color:#fff
}
.mobnav-trigger, .mobnav-trigger.active, .mobnav-trigger:hover {
	background-color:#0086d4;
	color:#fff
}
.category-products-grid .item, .main, .mobnav-trigger .trigger-icon .line, .mobnav-trigger.active .trigger-icon .line, .mobnav-trigger:hover .trigger-icon .line, .products-list .item, .truncated .item-options {
	background-color:#fff
}
.nav-regular .nav-item.level0>a {
	font-size:14px;
	text-transform:uppercase
}
.nav-regular .nav-submenu--mega>li>a {
	font-size:16px;
	text-transform:uppercase
}
.nav-mobile li.nav-item>a {
	font-size:16px
}
.mobnav-trigger, .nav-mobile .nav-item.level0>a {
	font-size:18px;
	text-transform:uppercase
}
.nav-mobile .nav-item.level1>a {
	font-size:18px;
	text-transform:none
}
.gen-tabs .tabs {
	background-color:transparent
}
.gen-tabs .tabs a {
	background-color:#f5f5f5;
	color:#333
}
.gen-tabs .tabs a:hover {
	background-color:#eee;
	color:#333;
	border-color:#eee #eee transparent
}
.gen-tabs .tabs a.current {
	background-color:#fff;
	color:#0086d4;
	border-color:#e5e5e5 #e5e5e5 transparent
}
.gen-tabs .tabs-panels {
	background-color:#fff;
	border-top-color:#e5e5e5
}
.gen-tabs .tabs a.current:hover {
	border-bottom-color:transparent
}
.gen-tabs .acctab {
	background-color:#0086d4;
	color:#fff;
	border-color:#e5e5e5;
	padding-left:.5em;
	padding-right:.5em
}
.gen-tabs .acctab.current, .gen-tabs .acctab:focus, .gen-tabs .acctab:hover {
	background-color:#eee;
	color:#fff
}
.the-slideshow .owl-controls .owl-buttons div, .the-slideshow.slider-pagination1 .owl-controls .owl-page span, .the-slideshow.slider-pagination2 .owl-controls .owl-page span, .the-slideshow.slider-pagination2 .owl-controls .owl-page.active span, .the-slideshow.slider-pagination2 .owl-controls.clickable .owl-page.active:hover span {
	background-color:#fff;
	color:#333
}
.the-slideshow .owl-controls.clickable .owl-buttons div:hover, .the-slideshow.slider-pagination1 .owl-controls.clickable .owl-page:hover span, .the-slideshow.slider-pagination2 .owl-controls.clickable .owl-page:hover span {
	background-color:#000;
	color:#fff
}
.the-slideshow.slider-pagination1 .owl-controls .owl-page.active span, .the-slideshow.slider-pagination1 .owl-controls.clickable .owl-page.active:hover span {
	background-color:#de2666
}
.footer-container {
	background-color:#ebebeb
}
.footer .button {
	background-color:#fff;
	color:#555
}
.footer .button:focus, .footer .button:hover {
	background-color:#a5db00;
	color:#fff
}
.footer .ib, .footer span.icon {
	background-color:#de2666;
	color:#fff
}
.footer .feature-icon-hover:hover .ib, .footer .feature-icon-hover:hover span.icon, .footer .ib-hover:hover, .footer span.icon-hover:hover {
	background-color:#444!important;
	color:#fff!important
}
.footer .accordion-style1 .opener, .footer .collapsible .opener, .footer .slider-arrows1 .owl-controls .owl-buttons div, .footer .slider-arrows1 .owl-controls.clickable .owl-buttons div.disabled:hover, .footer .slider-arrows2 .owl-controls .owl-buttons div, .footer .slider-arrows3 .owl-controls .owl-buttons div, .footer .slider-arrows3 .owl-controls.clickable .owl-buttons div.disabled:hover, .footer .slider-pagination1 .owl-controls .owl-page span, .footer .slider-pagination2 .owl-controls .owl-page span {
	background-color:#f5f5f5;
	color:#333
}
.footer .accordion-style1 .opener:hover, .footer .collapsible .opener:hover, .footer .slider-arrows1 .owl-controls.clickable .owl-buttons div:hover, .footer .slider-arrows2 .owl-controls.clickable .owl-buttons div:hover, .footer .slider-arrows3 .owl-controls.clickable .owl-buttons div:hover, .footer .slider-pagination1 .owl-controls.clickable .owl-page:hover span, .footer .slider-pagination2 .owl-controls.clickable .owl-page:hover span {
	background-color:#5bd2ec;
	color:#fff
}
.footer-primary, .footer-top-container {
	background-color:#ebebeb
}
.footer-primary-container {
	padding-top:30px;
	padding-bottom:10px
}
.footer-bottom-container {
	background-color:#d3d2d2
}
.footer-bottom, .footer-bottom a {
	color:#000
}
.footer-bottom a:hover {
	color:#0086d4
}
.social-links .ib, .social-links a>span.icon {
	background-color:#bbb;
	color:#fff
}
.social-links .ib-hover:hover, .social-links a>span.icon-hover:hover {
	color:#fff!important
}

// custom by brt

.myorder-wrapper {
    margin-top: 27px;
}

.bg-info {
    background-color: #d9edf7;
    font-weight: bolder;
    height: 32px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 6px;
}

.inner_content {
    margin-bottom: 3px;
}
.myorder {
    margin-bottom: 25px;
    padding-top: 25px;
    clear:both;
}

.inner-container p {
    margin-bottom: 15px;
}