<?xml version="1.0"?>
<config>
    <modules>
        <Stripedsocks_Productlisting>
            <version>1.0.0</version>
        </Stripedsocks_Productlisting>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Stripedsocks_Productlisting_Block_Product_List_Toolbar</product_list_toolbar>
                    <product_list>Stripedsocks_Productlisting_Block_Product_List</product_list>
                </rewrite>
            </catalog>
			<checkout>
				<rewrite>
					<cart_crosssell>Stripedsocks_Productlisting_Block_Checkout_Cart_Crosssell</cart_crosssell>
				</rewrite>
			</checkout>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <product_url>Stripedsocks_Productlisting_Model_Product_Url</product_url>
                    <category>Stripedsocks_Productlisting_Model_Category</category>
					<url>Stripedsocks_Productlisting_Model_Url</url>  
                </rewrite>
            </catalog>
            <!--<core_resource>
                <rewrite>
                    <url_rewrite>Stripedsocks_Productlisting_Model_Resource_Url_Rewrite</url_rewrite>
                </rewrite>
            </core_resource> -->
        </models>
    </global>
</config>
