#itoris_qa_label{
	color: #666666;
}

#itoris_qa .text_expand, #itoris_qa_sort_text{
	color: #909090;
}

#itoris_qa_select, #itoris_qa_select ul{
	border: 1px solid #cdcdcd;
	color: #4d4d4d;
}

#itoris_qa_select ul{
	border-color: #b6b6b6;
	background-color: #b6b6b6;
	color: #ffffff;
}

#itoris_qa .li_hover{
	background-color: #ffffff;
	color: #000000;
}

#itoris_qa_select_img{
	background-image: url('../images/select.png');
}

#itoris_qa .select_up{
	background-image: url('../images/select_up.png');
}

#itoris_qa_body{
	border-color: #999999;
	background-color: #e2e2e2;
}

#itoris_qa .form_box{
	background-color: #999999;
}

#itoris_qa .question{
	border: 1px solid #666666;
	background-image: url('../images/background.png');
	background-color: #cacaca;
}

#itoris_qa .q_border_r{
	background-image: url('../images/right_border.png');
}

#itoris_qa .q_border_l{
	background-image: url('../images/left_border.png');
}

#itoris_qa .text_red{
	color: #ff3300;
}

#itoris_qa .q_answers{
	border: 1px solid #8f8f8f;
	border-bottom-color: #d9d9d9;
	border-right-color: #d9d9d9;
	background-color: #cdcdcd;
	color: #656565;
}

#itoris_qa .q_info_block{
	background-color: #999999;
}

#itoris_qa .info .red{
	font-style: italic;
	color: #000000;
}

#itoris_qa .info .gray{
	color: #343434;
}

#itoris_qa .text_blue, #itoris_qa .a_info_block .red{
	color: #34669b;
}

#itoris_qa .a_info_block .red{
	color: #89abd1;
}

#itoris_qa .form .label, #itoris_qa .form .value span, #itoris_qa .form .value a{
	color: #343434;
}

#itoris_qa .form .label .form .label span, #itoris_qa_pages .active{
	color: #dd6332;
}

#itoris_qa .ask_questions, #itoris_qa .hide_answer_form{
	background-color: #e2e2e2;
}

#itoris_qa_pages{
	color: #666666;
}
