<?xml version="1.0"?>
<config>
    <modules>
        <Stripedsocks_Authextrainfo>
            <version>1.0.0</version>
        </Stripedsocks_Authextrainfo>
    </modules>
    <global>
        <models>
            <authextrainfo>
                <class>Stripedsocks_Authextrainfo_Model</class>
                <resourceModel>authextrainfo_resource</resourceModel>
            </authextrainfo>
            <paygate>
                <rewrite>
                    <authorizenet>Stripedsocks_Authextrainfo_Model_Authorizenet</authorizenet>
                </rewrite>
            </paygate>
        </models>
    </global>
    <frontend>
        <routers>
            <authextrainfo>
                <use>standard</use>
                <args>
                    <module>Stripedsocks_Authextrainfo</module>
                    <frontName>authextrainfo</frontName>
                </args>
            </authextrainfo>
        </routers>
    </frontend>
    <admin>
        <routers>
            <authextrainfo>
                <use>admin</use>
                <args>
                    <module>Stripedsocks_Authextrainfo</module>
                    <frontName>authextrainfo</frontName>
                </args>
            </authextrainfo>
        </routers>
    </admin>
</config>
