<?xml version="1.0"?>
<config>
    <modules>
        <AW_Coupongenerator>
            <version>1.0.2</version><platform>ce</platform>
        </AW_Coupongenerator>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <awqcg after="Mage_Adminhtml">AW_Coupongenerator_Adminhtml</awqcg>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AW_Coupongenerator>
                    <files>
                        <default>AW_Coupongenerator.csv</default>
                    </files>
                </AW_Coupongenerator>
            </modules>
        </translate>
        <menu>
            <promo>
                <children>
                    <coupongenerator>
                        <title>Coupon Code Generator</title>
                        <sort_order>150</sort_order>
                        <children>
                            <coupongenerator_rules>
                                <title>Rules</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/awqcg_rules</action>
                            </coupongenerator_rules>
                            <generated_coupons>
                                <title>Generated Coupons</title>
                                <sort_order>50</sort_order>
                                <action>adminhtml/awqcg_coupons</action>
                            </generated_coupons>
                            <coupongenerator_configuration>
                                <title>Settings</title>
                                <sort_order>100</sort_order>
                                <action>adminhtml/system_config/edit/section/coupongenerator</action>
                            </coupongenerator_configuration>
                        </children>
                    </coupongenerator>
                </children>
            </promo>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <promo>
                            <children>
                                <coupongenerator>
                                    <title>Coupon Code Generator</title>
                                    <sort_order>150</sort_order>
                                    <children>
                                        <coupongenerator_rules>
                                            <title>Rules</title>
                                            <sort_order>30</sort_order>
                                            <action>adminhtml/awqcg_rules</action>
                                        </coupongenerator_rules>
                                        <generated_coupons>
                                            <title>Generated Coupons</title>
                                            <sort_order>50</sort_order>
                                            <action>adminhtml/awqcg_coupons</action>
                                        </generated_coupons>
                                        <coupongenerator_configuration>
                                            <title>Settings</title>
                                            <sort_order>100</sort_order>
                                            <action>adminhtml/system_config/edit/section/coupongenerator</action>
                                        </coupongenerator_configuration>
                                    </children>
                                </coupongenerator>
                            </children>
                        </promo>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <coupongenerator>
                                            <title>aheadWorks - Coupon Code Generator Section</title>
                                        </coupongenerator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <coupongenerator>
                    <file>aw_coupongenerator.xml</file>
                </coupongenerator>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <coupongenerator>
                        <class>coupongenerator/observer</class>
                        <method>setBlockToTicketPage</method>
                    </coupongenerator>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_promo_quote_edit_tab_main_prepare_form>
                <observers>
                    <coupongenerator>
                        <class>coupongenerator/observer</class>
                        <method>addExtraFields</method>
                    </coupongenerator>
                </observers>
            </adminhtml_promo_quote_edit_tab_main_prepare_form>
            <controller_action_layout_load_before>
                <observers>
                    <coupongenerator>
                        <class>coupongenerator/observer</class>
                        <method>addBannersBlock</method>
                    </coupongenerator>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </adminhtml>
    <global>
        <models>
            <coupongenerator>
                <class>AW_Coupongenerator_Model</class>
                <resourceModel>coupongenerator_mysql4</resourceModel>
            </coupongenerator>
            <coupongenerator_mysql4>
                <class>AW_Coupongenerator_Model_Mysql4</class>
                <entities>
                    <salesrule>
                        <table>aw_coupongenerator_salesrule</table>
                    </salesrule>
                    <coupon>
                        <table>aw_coupongenerator_coupon</table>
                    </coupon>
                </entities>
            </coupongenerator_mysql4>
            <salesrule>
                <rewrite>
                    <validator>AW_Coupongenerator_Model_Salesrule_Validator</validator>
                </rewrite>
            </salesrule>
        </models>
        <resources>
            <coupongenerator_setup>
                <setup>
                    <module>AW_Coupongenerator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </coupongenerator_setup>
            <coupongenerator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </coupongenerator_write>
            <coupongenerator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </coupongenerator_read>
        </resources>
        <blocks>
            <coupongenerator>
                <class>AW_Coupongenerator_Block</class>
            </coupongenerator>
        </blocks>
        <helpers>
            <coupongenerator>
                <class>AW_Coupongenerator_Helper</class>
            </coupongenerator>
            <enterprise_promotionpermissions>
                <rewrite>
                    <data>AW_Coupongenerator_Helper_Promopermissions</data>
                </rewrite>
            </enterprise_promotionpermissions>
        </helpers>
        <template>
            <email>
                <coupongenerator_notifications_coupon_generation_template translate="label" module="coupongenerator">
                    <label>Coupon Code Generation</label>
                    <file>aw_coupongenerator/coupon_generation.html</file>
                    <type>html</type>
                </coupongenerator_notifications_coupon_generation_template>
            </email>
        </template>
        <events>
            <salesrule_rule_get_coupon_types>
                <observers>
                    <coupongenerator>
                        <type>singleton</type>
                        <class>coupongenerator/observer</class>
                        <method>addQuickGeneratedCouponType</method>
                    </coupongenerator>
                </observers>
            </salesrule_rule_get_coupon_types>
            <salesrule_rule_load_after>
                <observers>
                    <coupongenerator>
                        <class>coupongenerator/observer</class>
                        <method>setUsesPerCouponToRule</method>
                    </coupongenerator>
                </observers>
            </salesrule_rule_load_after>
            <salesrule_rule_save_before>
                <observers>
                    <coupongenerator>
                        <class>coupongenerator/observer</class>
                        <method>beforeSaveSalesRule</method>
                    </coupongenerator>
                </observers>
            </salesrule_rule_save_before>
            <salesrule_rule_save_after>
                <observers>
                    <coupongenerator>
                        <class>coupongenerator/observer</class>
                        <method>saveSalesRule</method>
                    </coupongenerator>
                </observers>
            </salesrule_rule_save_after>
            <salesrule_coupon_save_after>
                <observers>
                    <coupongenerator>
                        <class>coupongenerator/observer</class>
                        <method>saveSalesRuleCoupon</method>
                    </coupongenerator>
                </observers>
            </salesrule_coupon_save_after>
        </events>
    </global>
    <default>
        <coupongenerator>
            <notifications>
                <sender>general</sender>
                <coupon_generation_template>coupongenerator_notifications_coupon_generation_template</coupon_generation_template>
            </notifications>
        </coupongenerator>
    </default>
</config>
