<?xml version="1.0"?>
<config>
    <modules>
        <Stripedsocks_OOSdisplaylastcatalogsearch>
            <version>1.0.0</version>
        </Stripedsocks_OOSdisplaylastcatalogsearch>
    </modules>
    <global>
        <models>
            <catalogsearch>
                <rewrite>
                    <layer>Stripedsocks_OOSdisplaylastcatalogsearch_Model_Layer</layer>
                </rewrite>
            </catalogsearch>
        </models>
    </global>
</config>
