<?xml version="1.0"?>
<config>
    <modules>
        <Chapagain_ClearPrint>
            <version>0.1.1</version>
        </Chapagain_ClearPrint>
    </modules> 
    <frontend>
        <routers>
            <clearprint>
                <use>standard</use>
                <args>
                    <module>Chapagain_ClearPrint</module>
                    <frontName>clearprint</frontName>
                </args>
            </clearprint>
        </routers>
		<layout>
            <updates>
                <clearprint>
                    <file>clearprint.xml</file>
                </clearprint>
            </updates>
        </layout>
        <translate>
			<modules>
				<Chapagain_ClearPrint>
					<files>
						<default>Chapagain_ClearPrint.csv</default>
					</files>
				</Chapagain_ClearPrint>
			</modules>
		</translate>
    </frontend>	
	<global>		
        <resources>
            <clearprint_setup>
                <setup>
                    <module>Chapagain_ClearPrint</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </clearprint_setup>
            <clearprint_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </clearprint_write>
            <clearprint_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </clearprint_read>
        </resources>
        <blocks>
            <clearprint>
                <class>Chapagain_ClearPrint_Block</class>
            </clearprint>
        </blocks>
        <helpers>
            <clearprint>
                <class>Chapagain_ClearPrint_Helper</class>
            </clearprint>
        </helpers>
	</global>
	<default>
		<catalog>
			<clearprint>
				<enable_print_product>1</enable_print_product>
				<enable_print_cart>1</enable_print_cart>
			</clearprint>
		</catalog>
	</default>
</config>
