input[type=checkbox] {
-webkit-appearance:checkbox;
}
.cat-title {
	text-align: center;
	padding: 5px 0;
	color: #0184a2;
	font-family: 'Lato Bold';
	font-size: 17px;
	line-height: 20px;
}
div.toolbar{
	border-top :none  !important;
}
div.toolbar-bottom{
	border-bottom  :none  !important;
}
div.sorter{
	border-top:1px solid #0086d4 ;
}
/*.catalog-category-view div.grid-col2-main{
border-bottom:1px solid #0086d4 ;
}*/
.why-shop ul li{
	list-style-type: disc;
}

/* product list view*/
.products-list-view h2.product-name a{
	color:#337ab7;
	font-weight:initial !important;
}
.products-list-view div.desc ,.products-list-view div.desc a ,.products-list-view .price-box .sku ,.products-list-view .price ,.products-list-view .qty,
.catalog-category-view .toolbar-bottom,.row,.catalog-category-view .block-content
{
font-weight:initial !important;
}
.main{
	padding:0px 0 40px;
}
/* Review block */
div.block-vertnav .section-title {
	font-family: Cherry Swash !important;
}
.block-vertnav{
	height: 241px !important;
	font-weight:initial !important;
}
.shopperapproved_widget .sa_review{
	clear: inherit;
	float: left;
	width: 24%; 
}
.sa_info{
	float: none !important;
}
.block-layered-nav span.check-box input[type="checkbox"] {
	margin :0px 0 0 !important;
}
/* pager */
.pagination > .active > span {
	background-color: #0184a2 !important;
}
.fp-view{
	background-color: #0184a2;padding: 4px 7px 6px 4px;color: white;
}
/*catalog*/
.rating-and-qty-block .ratings {
	margin-top:0px !important;
}
div.product-details h3.product-name{
	margin: 8px 0 7px !important;
}
.fp-product-wrapper .fp-product-cust {
	min-height: 470px !important;
}
.fp-product-wrapper .row{
	margin-bottom: 0px !important;
}

/* Product detail page*/
.fp-product-detail h3{
	font-size:24px;
	font-family: inherit !important;
	color: inherit !important;
}
.yousave {
	/*display: block !important;*/
}
.fp-prod-price ul.nav li h4{
	color: inherit !important;
}
.fp-prod-price ul.nav li{
  margin-left:0px !important;	
}

.product-img-column{
	margin-right: 0px !important;
}
.sale-price{
	color: #e7453d;
}
div.product-primary-column{
	margin-left: 0px !important;
}
label.fp-prod-id,label{
	display: inline-block;
	margin-bottom:5px;
	font-weight:700;
}
.fp-prod-id span{
	color: #0086d4;
}

h3.product-name {
	font-size: 15px ;
	color: #333;
	font-family: 'Lato';
	 margin: 8px 0 20px;
	padding: 5px 0;
}
#related-product-view div.sku{
	margin:0px 0px !important;
}
#related-product-view .product-details{
	font-weight: initial !important;
}
#related-product-view .regular-price{
	float: right !important;
}

#related-product-view .owl-stage-outer,.catalog-product-view .owl-carousel{
	padding-bottom: 0px !important;
}
.catalog-product-view .mb15 ,.product-view .box-collateral{
	margin-bottom: 0px !important;
}
.catalog-product-view .box-additional{
	margin-top: 0px !important;
}
.catalog-product-view #related-product-view p.yousave{
	display: none !important;
}
.catalog-product-view #related-product-view select.qty{
	width: 40px !important;
}
.catalog-product-view #related-product-view .item{
	padding: 4px !important;
}
.catalog-product-view .inner-container{
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.catalog-product-view .required{
	display: none;
}
.catalog-product-view .fp-prod-price li{
	margin: 15px 0px;
	padding-left: 0px;
}
.catalog-product-view  .fp-prod-price li span{
	margin-left: 0px;
}
/*head*/

/* Configure product*/
input[type="radio"]{
	-webkit-appearance:radio;
}
/* loader */
#ajaxcartpro-progress {
 border: 1px #999 solid;
 border-radius: 5px;
 position: fixed;
 text-align: center;
 padding: 20px 20px 2px;
 background-color: #f2f2f2;
 z-index: 9999;
 color: #6b6b6b;
 font-family: arial;
 letter-spacing: 1px;
 overflow: auto;
 min-height: 50px;
 max-height: 87px;
 min-width: 260px;
 max-width: 345px;
}
#acp-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	-moz-opacity: .3;
	opacity: .3;
	filter: alpha(opacity=30);
	z-index: 100;
}
/* cart */
.item-options dd span.price{
      display:none;
  }
 .cart-table .btn-update{
 	float: none;
 }  
  /* hompepage */
  dt#Color_Types{
  	display: none;
  }
/* onepage */
#credit-card-type li {
    display: block;
    width: 51px;
    height: 32px;
    background: url('../images/credit-card-icons.jpg') 0 -32px no-repeat;
    margin: 5px 6px 0 0;
    overflow: hidden;
    text-indent: -500em;
    float: left;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
#credit-card-type .MC{
	background-position:-102px -32px;
}
#credit-card-type .AE{
	background-position:-51px -32px;
}
#credit-card-type .DI{
	background-position:-153px -32px;
}

