<?xml version="1.0"?>
<config>
    <modules>
        <Stripedsocks_AttributeController>
            <version>1.0.0</version>
        </Stripedsocks_AttributeController>
    </modules>
    <global>
        <blocks>
            <attributecontroller>
                <class>Stripedsocks_AttributeController_Block</class> 
            </attributecontroller>
        </blocks>
        <helpers>
            <attributecontroller>
                <class>Stripedsocks_AttributeController_Helper</class>
            </attributecontroller>
        </helpers>
    </global>
    <admin>
        <routers>
            <stripedsocks_attributecontroller>
                <use>admin</use>
                <args>
                    <module>Stripedsocks_AttributeController</module>
                    <frontName>attributecontroller</frontName>
                </args>
            </stripedsocks_attributecontroller>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <stripedsocks_attributecontroller>
                    <file>attributecontroller.xml</file>
                </stripedsocks_attributecontroller>
            </updates>
        </layout>
    </adminhtml>
</config>